body {
    padding: 15px;
    background: #eee;
}
#status-region span {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 15px 0px;
    font-weight: bold;
    color: green;
}